ClubCloud.Afhangen/ClubCloud.Afhangen.UILogic/Service References/ClubCloudAfhangen/ClubCloudAfhangen.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://clubcloud.nl/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClubCloudAfhangen" targetNamespace="http://clubcloud.nl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="https://afhangen.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://clubcloud.nl/Imports">
      <xsd:import schemaLocation="https://afhangen.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd3" namespace="http://clubcloud.nl/" />
      <xsd:import schemaLocation="https://afhangen.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://afhangen.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/ClubCloud.Model" />
      <xsd:import schemaLocation="https://afhangen.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data.Entity.Spatial" />
      <xsd:import schemaLocation="https://afhangen.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ClubCloudAfhangen_GetBaanById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanById" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanSchemaByAccommodatieId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanSchemaByAccommodatieId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanSchemaByAccommodatieId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanSchemaByAccommodatieIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanSchemaByVerenigingId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanSchemaByVerenigingId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanSchemaByVerenigingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanSchemaByVerenigingIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanSchemaByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanSchemaByDate" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanSchemaByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanSchemaByDateResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBanenByAccommodatieId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBanenByAccommodatieId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBanenByAccommodatieId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBanenByAccommodatieIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBanenByVerenigingId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBanenByVerenigingId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBanenByVerenigingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBanenByVerenigingIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanblokkenByAccommodatieId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanblokkenByAccommodatieId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanblokkenByAccommodatieId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanblokkenByAccommodatieIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaansoortById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaansoortById" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaansoortById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaansoortByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaantypeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaantypeById" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaantypeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaantypeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_DeleteReservering_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReservering" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_DeleteReservering_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReserveringResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikersByReserveringId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikersByReserveringId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikersByReserveringId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikersByReserveringIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringByReserveringId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringByReserveringId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringByReserveringId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringByReserveringIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByBaanId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByBaanId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByBaanId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByBaanIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByDate" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByDateResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByBondsnummer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByBondsnummer" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByBondsnummer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByBondsnummerResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByVerenigingId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByVerenigingId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByVerenigingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByVerenigingIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_SetReservering_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReservering" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_SetReservering_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetReserveringResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_UpdateReservering_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReservering" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_UpdateReservering_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReserveringResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikerByNummer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerByNummer" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikerByNummer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerByNummerResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetFotoByNummer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoByNummer" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetFotoByNummer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoByNummerResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetFotoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoById" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetFotoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerById" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingByLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingByLocation" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingByLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingByLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingByNummer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingByNummer" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingByNummer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingByNummerResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingById" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingAfhangSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingAfhangSettings" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingAfhangSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingAfhangSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetSponsorenByVerenigingId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSponsorenByVerenigingId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetSponsorenByVerenigingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSponsorenByVerenigingIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetSponsorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSponsorById" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetSponsorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSponsorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetSponsorImageById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSponsorImageById" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetSponsorImageById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSponsorImageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetApplicationInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationInfos" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetApplicationInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationInfosResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetApplicationVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationVersion" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetApplicationVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetApplicationProcessorArchitectures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationProcessorArchitectures" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetApplicationProcessorArchitectures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationProcessorArchitecturesResponse" />
  </wsdl:message>
  <wsdl:portType name="ClubCloudAfhangen">
    <wsdl:operation name="GetBaanById">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanById" message="tns:ClubCloudAfhangen_GetBaanById_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanByIdResponse" message="tns:ClubCloudAfhangen_GetBaanById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByAccommodatieId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByAccommodatieId" message="tns:ClubCloudAfhangen_GetBaanSchemaByAccommodatieId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByAccommodatieIdResponse" message="tns:ClubCloudAfhangen_GetBaanSchemaByAccommodatieId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByVerenigingId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByVerenigingId" message="tns:ClubCloudAfhangen_GetBaanSchemaByVerenigingId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByVerenigingIdResponse" message="tns:ClubCloudAfhangen_GetBaanSchemaByVerenigingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByDate">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByDate" message="tns:ClubCloudAfhangen_GetBaanSchemaByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByDateResponse" message="tns:ClubCloudAfhangen_GetBaanSchemaByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBanenByAccommodatieId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByAccommodatieId" message="tns:ClubCloudAfhangen_GetBanenByAccommodatieId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByAccommodatieIdResponse" message="tns:ClubCloudAfhangen_GetBanenByAccommodatieId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBanenByVerenigingId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByVerenigingId" message="tns:ClubCloudAfhangen_GetBanenByVerenigingId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByVerenigingIdResponse" message="tns:ClubCloudAfhangen_GetBanenByVerenigingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaanblokkenByAccommodatieId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanblokkenByAccommodatieId" message="tns:ClubCloudAfhangen_GetBaanblokkenByAccommodatieId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanblokkenByAccommodatieIdResponse" message="tns:ClubCloudAfhangen_GetBaanblokkenByAccommodatieId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaansoortById">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaansoortById" message="tns:ClubCloudAfhangen_GetBaansoortById_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaansoortByIdResponse" message="tns:ClubCloudAfhangen_GetBaansoortById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaantypeById">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaantypeById" message="tns:ClubCloudAfhangen_GetBaantypeById_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaantypeByIdResponse" message="tns:ClubCloudAfhangen_GetBaantypeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReservering">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/DeleteReservering" message="tns:ClubCloudAfhangen_DeleteReservering_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/DeleteReserveringResponse" message="tns:ClubCloudAfhangen_DeleteReservering_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGebruikersByReserveringId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikersByReserveringId" message="tns:ClubCloudAfhangen_GetGebruikersByReserveringId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikersByReserveringIdResponse" message="tns:ClubCloudAfhangen_GetGebruikersByReserveringId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReserveringByReserveringId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringByReserveringId" message="tns:ClubCloudAfhangen_GetReserveringByReserveringId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringByReserveringIdResponse" message="tns:ClubCloudAfhangen_GetReserveringByReserveringId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBaanId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBaanId" message="tns:ClubCloudAfhangen_GetReserveringenByBaanId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBaanIdResponse" message="tns:ClubCloudAfhangen_GetReserveringenByBaanId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByDate">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByDate" message="tns:ClubCloudAfhangen_GetReserveringenByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByDateResponse" message="tns:ClubCloudAfhangen_GetReserveringenByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBondsnummer">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBondsnummer" message="tns:ClubCloudAfhangen_GetReserveringenByBondsnummer_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBondsnummerResponse" message="tns:ClubCloudAfhangen_GetReserveringenByBondsnummer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByVerenigingId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByVerenigingId" message="tns:ClubCloudAfhangen_GetReserveringenByVerenigingId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByVerenigingIdResponse" message="tns:ClubCloudAfhangen_GetReserveringenByVerenigingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetReservering">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/SetReservering" message="tns:ClubCloudAfhangen_SetReservering_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/SetReserveringResponse" message="tns:ClubCloudAfhangen_SetReservering_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReservering">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/UpdateReservering" message="tns:ClubCloudAfhangen_UpdateReservering_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/UpdateReserveringResponse" message="tns:ClubCloudAfhangen_UpdateReservering_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerByNummer">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerByNummer" message="tns:ClubCloudAfhangen_GetGebruikerByNummer_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerByNummerResponse" message="tns:ClubCloudAfhangen_GetGebruikerByNummer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFotoByNummer">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetFotoByNummer" message="tns:ClubCloudAfhangen_GetFotoByNummer_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetFotoByNummerResponse" message="tns:ClubCloudAfhangen_GetFotoByNummer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFotoById">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetFotoById" message="tns:ClubCloudAfhangen_GetFotoById_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetFotoByIdResponse" message="tns:ClubCloudAfhangen_GetFotoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerById">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerById" message="tns:ClubCloudAfhangen_GetGebruikerById_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerByIdResponse" message="tns:ClubCloudAfhangen_GetGebruikerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByLocation">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByLocation" message="tns:ClubCloudAfhangen_GetVerenigingByLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByLocationResponse" message="tns:ClubCloudAfhangen_GetVerenigingByLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByNummer">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByNummer" message="tns:ClubCloudAfhangen_GetVerenigingByNummer_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByNummerResponse" message="tns:ClubCloudAfhangen_GetVerenigingByNummer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingById">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingById" message="tns:ClubCloudAfhangen_GetVerenigingById_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByIdResponse" message="tns:ClubCloudAfhangen_GetVerenigingById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingAfhangSettings">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingAfhangSettings" message="tns:ClubCloudAfhangen_GetVerenigingAfhangSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingAfhangSettingsResponse" message="tns:ClubCloudAfhangen_GetVerenigingAfhangSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSponsorenByVerenigingId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorenByVerenigingId" message="tns:ClubCloudAfhangen_GetSponsorenByVerenigingId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorenByVerenigingIdResponse" message="tns:ClubCloudAfhangen_GetSponsorenByVerenigingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSponsorById">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorById" message="tns:ClubCloudAfhangen_GetSponsorById_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorByIdResponse" message="tns:ClubCloudAfhangen_GetSponsorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSponsorImageById">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorImageById" message="tns:ClubCloudAfhangen_GetSponsorImageById_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorImageByIdResponse" message="tns:ClubCloudAfhangen_GetSponsorImageById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationInfos">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationInfos" message="tns:ClubCloudAfhangen_GetApplicationInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationInfosResponse" message="tns:ClubCloudAfhangen_GetApplicationInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationVersion">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationVersion" message="tns:ClubCloudAfhangen_GetApplicationVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationVersionResponse" message="tns:ClubCloudAfhangen_GetApplicationVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationProcessorArchitectures">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationProcessorArchitectures" message="tns:ClubCloudAfhangen_GetApplicationProcessorArchitectures_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationProcessorArchitecturesResponse" message="tns:ClubCloudAfhangen_GetApplicationProcessorArchitectures_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ClubCloudAfhangen">
    <wsdl:port name="BasicHttpBinding_ClubCloudAfhangen" binding="i0:BasicHttpBinding_ClubCloudAfhangen">
      <soap:address location="http://afhangen.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ClubCloudAfhangen1" binding="i0:BasicHttpBinding_ClubCloudAfhangen4">
      <soap:address location="https://afhangen.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>