ClubCloud.Afhangen/ClubCloud.Afhangen.UILogic/Service References/ClubCloudAfhangen/mex1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://clubcloud.nl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ClubCloudAfhangen2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_ClubCloudAfhangen3_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://clubcloud.nl/" location="https://development.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ClubCloudAfhangen" type="i0:ClubCloudAfhangen">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBaanById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByDate">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanenByAccommodatieId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByAccommodatieId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanblokkenByAccommodatieId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanblokkenByAccommodatieId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaansoortById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaansoortById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaantypeById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaantypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/DeleteReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikersByReserveringId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikersByReserveringId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringByReserveringId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringByReserveringId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBaanId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBaanId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByDate">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBondsnummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBondsnummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/AddReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/UpdateReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerByNummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerByNummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFotoById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetFotoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByLocation">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByNummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByNummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingAfhangSettings">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingAfhangSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorenByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorenByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorImageById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorImageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationInfos">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationVersion">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationProcessorArchitectures">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationProcessorArchitectures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ClubCloudAfhangen1" type="i0:ClubCloudAfhangen">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBaanById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByDate">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanenByAccommodatieId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByAccommodatieId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanblokkenByAccommodatieId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanblokkenByAccommodatieId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaansoortById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaansoortById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaantypeById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaantypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/DeleteReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikersByReserveringId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikersByReserveringId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringByReserveringId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringByReserveringId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBaanId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBaanId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByDate">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBondsnummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBondsnummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/AddReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/UpdateReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerByNummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerByNummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFotoById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetFotoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByLocation">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByNummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByNummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingAfhangSettings">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingAfhangSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorenByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorenByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorImageById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorImageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationInfos">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationVersion">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationProcessorArchitectures">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationProcessorArchitectures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ClubCloudAfhangen2" type="i0:ClubCloudAfhangen">
    <wsp:PolicyReference URI="#BasicHttpBinding_ClubCloudAfhangen2_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBaanById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByDate">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanenByAccommodatieId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByAccommodatieId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanblokkenByAccommodatieId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanblokkenByAccommodatieId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaansoortById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaansoortById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaantypeById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaantypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/DeleteReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikersByReserveringId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikersByReserveringId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringByReserveringId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringByReserveringId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBaanId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBaanId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByDate">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBondsnummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBondsnummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/AddReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/UpdateReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerByNummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerByNummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFotoById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetFotoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByLocation">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByNummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByNummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingAfhangSettings">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingAfhangSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorenByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorenByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorImageById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorImageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationInfos">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationVersion">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationProcessorArchitectures">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationProcessorArchitectures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ClubCloudAfhangen3" type="i0:ClubCloudAfhangen">
    <wsp:PolicyReference URI="#BasicHttpBinding_ClubCloudAfhangen3_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBaanById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByDate">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanenByAccommodatieId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByAccommodatieId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaanblokkenByAccommodatieId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaanblokkenByAccommodatieId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaansoortById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaansoortById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaantypeById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetBaantypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/DeleteReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikersByReserveringId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikersByReserveringId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringByReserveringId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringByReserveringId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBaanId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBaanId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByDate">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBondsnummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBondsnummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/AddReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReservering">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/UpdateReservering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerByNummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerByNummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFotoById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetFotoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByLocation">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByNummer">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByNummer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingAfhangSettings">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingAfhangSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorenByVerenigingId">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorenByVerenigingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorImageById">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetSponsorImageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationInfos">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationVersion">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationProcessorArchitectures">
      <soap:operation soapAction="http://clubcloud.nl/ClubCloudAfhangen/GetApplicationProcessorArchitectures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>