ClubCloud.Afhangen/ClubCloud.Afhangen.UILogic/Service References/ClubCloudAgent/AgentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AgentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAgentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18733/AgentService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18733/AgentService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgentService_SetUserForService_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserForService" />
  </wsdl:message>
  <wsdl:message name="IAgentService_SetUserForService_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserForServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentService_UpdateKioskMode_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKioskMode" />
  </wsdl:message>
  <wsdl:message name="IAgentService_UpdateKioskMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKioskModeResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentService_ShutDownKiosk_InputMessage">
    <wsdl:part name="parameters" element="tns:ShutDownKiosk" />
  </wsdl:message>
  <wsdl:message name="IAgentService_ShutDownKiosk_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShutDownKioskResponse" />
  </wsdl:message>
  <wsdl:portType name="IAgentService">
    <wsdl:operation name="SetUserForService">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/SetUserForService" message="tns:IAgentService_SetUserForService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/SetUserForServiceResponse" message="tns:IAgentService_SetUserForService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKioskMode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/UpdateKioskMode" message="tns:IAgentService_UpdateKioskMode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/UpdateKioskModeResponse" message="tns:IAgentService_UpdateKioskMode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShutDownKiosk">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/ShutDownKiosk" message="tns:IAgentService_ShutDownKiosk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/ShutDownKioskResponse" message="tns:IAgentService_ShutDownKiosk_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAgentService" type="tns:IAgentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetUserForService">
      <soap:operation soapAction="http://tempuri.org/IAgentService/SetUserForService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKioskMode">
      <soap:operation soapAction="http://tempuri.org/IAgentService/UpdateKioskMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShutDownKiosk">
      <soap:operation soapAction="http://tempuri.org/IAgentService/ShutDownKiosk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IAgentService" type="tns:IAgentService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAgentService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SetUserForService">
      <soap12:operation soapAction="http://tempuri.org/IAgentService/SetUserForService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKioskMode">
      <soap12:operation soapAction="http://tempuri.org/IAgentService/UpdateKioskMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShutDownKiosk">
      <soap12:operation soapAction="http://tempuri.org/IAgentService/ShutDownKiosk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgentService">
    <wsdl:port name="BasicHttpBinding_IAgentService" binding="tns:BasicHttpBinding_IAgentService">
      <soap:address location="http://localhost:18733/AgentService/AgentService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IAgentService" binding="tns:NetTcpBinding_IAgentService">
      <soap12:address location="net.tcp://localhost:18734/AgentService/AgentService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:18734/AgentService/AgentService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/ACER772G</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>