ClubCloud.Afhangen/ClubCloud.Afhangen/ClubCloud.Afhangen.UILogic/Service References/ClubCloudService/ClubCloudAfhangen1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://clubcloud.nl/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClubCloudAfhangen" targetNamespace="http://clubcloud.nl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://clubcloud.nl/Imports">
      <xsd:import schemaLocation="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd0" namespace="http://clubcloud.nl/" />
      <xsd:import schemaLocation="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" />
      <xsd:import schemaLocation="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Entity.Spatial" />
      <xsd:import schemaLocation="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ClubCloudAfhangen_DeleteReservering_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReservering" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_DeleteReservering_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReserveringResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanSchemaByAccommodatieId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanSchemaByAccommodatieId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanSchemaByAccommodatieId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanSchemaByAccommodatieIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanSchemaByVerenigingId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanSchemaByVerenigingId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBaanSchemaByVerenigingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaanSchemaByVerenigingIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBanenByAccommodatieId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBanenByAccommodatieId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBanenByAccommodatieId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBanenByAccommodatieIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBanenByVerenigingId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBanenByVerenigingId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetBanenByVerenigingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBanenByVerenigingIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikersByReserveringId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikersByReserveringId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikersByReserveringId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikersByReserveringIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikerByNummer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerByNummer" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikerByNummer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerByNummerResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikerAutoComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerAutoComplete" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikerAutoComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerAutoCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVereniningen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVereniningen" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVereniningen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVereniningenResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetFotoByNummer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoByNummer" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetFotoByNummer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoByNummerResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetFotoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoById" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetFotoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerById" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetGebruikerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringByReserveringId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringByReserveringId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringByReserveringId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringByReserveringIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByBaanId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByBaanId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByBaanId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByBaanIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByBondsnummer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByBondsnummer" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByBondsnummer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByBondsnummerResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByVerenigingId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByVerenigingId" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetReserveringenByVerenigingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReserveringenByVerenigingIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingByLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingByLocation" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingByLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingByLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingByNummer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingByNummer" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingByNummer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingByNummerResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingById" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingSettings" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_GetVerenigingSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerenigingSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_SetReservering_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReservering" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_SetReservering_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetReserveringResponse" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_UpdateReservering_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReservering" />
  </wsdl:message>
  <wsdl:message name="ClubCloudAfhangen_UpdateReservering_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReserveringResponse" />
  </wsdl:message>
  <wsdl:portType name="ClubCloudAfhangen">
    <wsdl:operation name="DeleteReservering">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/DeleteReservering" message="tns:ClubCloudAfhangen_DeleteReservering_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/DeleteReserveringResponse" message="tns:ClubCloudAfhangen_DeleteReservering_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByAccommodatieId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByAccommodatieId" message="tns:ClubCloudAfhangen_GetBaanSchemaByAccommodatieId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByAccommodatieIdResponse" message="tns:ClubCloudAfhangen_GetBaanSchemaByAccommodatieId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaanSchemaByVerenigingId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByVerenigingId" message="tns:ClubCloudAfhangen_GetBaanSchemaByVerenigingId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBaanSchemaByVerenigingIdResponse" message="tns:ClubCloudAfhangen_GetBaanSchemaByVerenigingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBanenByAccommodatieId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByAccommodatieId" message="tns:ClubCloudAfhangen_GetBanenByAccommodatieId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByAccommodatieIdResponse" message="tns:ClubCloudAfhangen_GetBanenByAccommodatieId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBanenByVerenigingId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByVerenigingId" message="tns:ClubCloudAfhangen_GetBanenByVerenigingId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetBanenByVerenigingIdResponse" message="tns:ClubCloudAfhangen_GetBanenByVerenigingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGebruikersByReserveringId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikersByReserveringId" message="tns:ClubCloudAfhangen_GetGebruikersByReserveringId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikersByReserveringIdResponse" message="tns:ClubCloudAfhangen_GetGebruikersByReserveringId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerByNummer">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerByNummer" message="tns:ClubCloudAfhangen_GetGebruikerByNummer_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerByNummerResponse" message="tns:ClubCloudAfhangen_GetGebruikerByNummer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerAutoComplete">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerAutoComplete" message="tns:ClubCloudAfhangen_GetGebruikerAutoComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerAutoCompleteResponse" message="tns:ClubCloudAfhangen_GetGebruikerAutoComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVereniningen">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVereniningen" message="tns:ClubCloudAfhangen_GetVereniningen_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVereniningenResponse" message="tns:ClubCloudAfhangen_GetVereniningen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFotoByNummer">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetFotoByNummer" message="tns:ClubCloudAfhangen_GetFotoByNummer_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetFotoByNummerResponse" message="tns:ClubCloudAfhangen_GetFotoByNummer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFotoById">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetFotoById" message="tns:ClubCloudAfhangen_GetFotoById_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetFotoByIdResponse" message="tns:ClubCloudAfhangen_GetFotoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerById">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerById" message="tns:ClubCloudAfhangen_GetGebruikerById_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetGebruikerByIdResponse" message="tns:ClubCloudAfhangen_GetGebruikerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReserveringByReserveringId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringByReserveringId" message="tns:ClubCloudAfhangen_GetReserveringByReserveringId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringByReserveringIdResponse" message="tns:ClubCloudAfhangen_GetReserveringByReserveringId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBaanId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBaanId" message="tns:ClubCloudAfhangen_GetReserveringenByBaanId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBaanIdResponse" message="tns:ClubCloudAfhangen_GetReserveringenByBaanId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByBondsnummer">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBondsnummer" message="tns:ClubCloudAfhangen_GetReserveringenByBondsnummer_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByBondsnummerResponse" message="tns:ClubCloudAfhangen_GetReserveringenByBondsnummer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReserveringenByVerenigingId">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByVerenigingId" message="tns:ClubCloudAfhangen_GetReserveringenByVerenigingId_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetReserveringenByVerenigingIdResponse" message="tns:ClubCloudAfhangen_GetReserveringenByVerenigingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByLocation">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByLocation" message="tns:ClubCloudAfhangen_GetVerenigingByLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByLocationResponse" message="tns:ClubCloudAfhangen_GetVerenigingByLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingByNummer">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByNummer" message="tns:ClubCloudAfhangen_GetVerenigingByNummer_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByNummerResponse" message="tns:ClubCloudAfhangen_GetVerenigingByNummer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingById">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingById" message="tns:ClubCloudAfhangen_GetVerenigingById_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingByIdResponse" message="tns:ClubCloudAfhangen_GetVerenigingById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerenigingSettings">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingSettings" message="tns:ClubCloudAfhangen_GetVerenigingSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/GetVerenigingSettingsResponse" message="tns:ClubCloudAfhangen_GetVerenigingSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetReservering">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/SetReservering" message="tns:ClubCloudAfhangen_SetReservering_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/SetReserveringResponse" message="tns:ClubCloudAfhangen_SetReservering_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReservering">
      <wsdl:input wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/UpdateReservering" message="tns:ClubCloudAfhangen_UpdateReservering_InputMessage" />
      <wsdl:output wsaw:Action="http://clubcloud.nl/ClubCloudAfhangen/UpdateReserveringResponse" message="tns:ClubCloudAfhangen_UpdateReservering_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ClubCloudAfhangen">
    <wsdl:port name="BasicHttpBinding_ClubCloudAfhangen" binding="i0:BasicHttpBinding_ClubCloudAfhangen">
      <soap:address location="http://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ClubCloudAfhangen1" binding="i0:BasicHttpBinding_ClubCloudAfhangen3">
      <soap:address location="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>