ClubCloud.Afhangen/ClubCloud.Afhangen/ClubCloud.Afhangen.UILogic/Service References/ClubCloudService/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://clubcloud.nl/" elementFormDefault="qualified" targetNamespace="http://clubcloud.nl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" />
  <xs:import schemaLocation="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DeleteReservering">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="reserveringId" type="q2:guid" />
        <xs:element minOccurs="0" name="push" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReserveringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteReserveringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaanSchemaByAccommodatieId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accommodatieId" type="q4:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaanSchemaByAccommodatieIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetBaanSchemaByAccommodatieIdResult" nillable="true" type="q5:ArrayOfClubCloud_Baanschema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaanSchemaByVerenigingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q6:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaanSchemaByVerenigingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetBaanSchemaByVerenigingIdResult" nillable="true" type="q7:ArrayOfClubCloud_Baanschema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBanenByAccommodatieId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q8:guid" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accommodatieId" type="q9:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBanenByAccommodatieIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetBanenByAccommodatieIdResult" nillable="true" type="q10:ArrayOfClubCloud_Baan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBanenByVerenigingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q11:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBanenByVerenigingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetBanenByVerenigingIdResult" nillable="true" type="q12:ArrayOfClubCloud_Baan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikersByReserveringId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q13:guid" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="reserveringId" type="q14:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikersByReserveringIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetGebruikersByReserveringIdResult" nillable="true" type="q15:ArrayOfClubCloud_Gebruiker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikerByNummer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q16:guid" />
        <xs:element minOccurs="0" name="nummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikerByNummerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetGebruikerByNummerResult" nillable="true" type="q17:ClubCloud_Gebruiker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikerAutoComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prefixText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="contextKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikerAutoCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGebruikerAutoCompleteResult" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVereniningen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prefixText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="contextKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVereniningenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetVereniningenResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotoByNummer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q20:guid" />
        <xs:element minOccurs="0" name="nummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotoByNummerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetFotoByNummerResult" nillable="true" type="q21:ClubCloud_Foto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q22:guid" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gebruikerId" type="q23:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetFotoByIdResult" nillable="true" type="q24:ClubCloud_Foto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q25:guid" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gebruikerId" type="q26:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetGebruikerByIdResult" nillable="true" type="q27:ClubCloud_Gebruiker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReserveringByReserveringId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q28:guid" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="reserveringId" type="q29:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReserveringByReserveringIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetReserveringByReserveringIdResult" nillable="true" type="q30:ClubCloud_Reservering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReserveringenByBaanId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q31:guid" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="baanId" type="q32:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReserveringenByBaanIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetReserveringenByBaanIdResult" nillable="true" type="q33:ArrayOfClubCloud_Reservering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReserveringenByBondsnummer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q34:guid" />
        <xs:element minOccurs="0" name="nummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReserveringenByBondsnummerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetReserveringenByBondsnummerResult" nillable="true" type="q35:ArrayOfClubCloud_Reservering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReserveringenByVerenigingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q36:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReserveringenByVerenigingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetReserveringenByVerenigingIdResult" nillable="true" type="q37:ArrayOfClubCloud_Reservering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerenigingByLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Latitude" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude" type="xs:double" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerenigingByLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetVerenigingByLocationResult" nillable="true" type="q38:ClubCloud_Vereniging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerenigingByNummer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verenigingNummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerenigingByNummerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetVerenigingByNummerResult" nillable="true" type="q39:ClubCloud_Vereniging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerenigingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q40:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerenigingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetVerenigingByIdResult" nillable="true" type="q41:ClubCloud_Vereniging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerenigingSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q42:guid" />
        <xs:element minOccurs="0" name="refresh" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerenigingSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="GetVerenigingSettingsResult" nillable="true" type="q43:ClubCloud_Afhang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReservering">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q44:guid" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="baanId" type="q45:guid" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="gebruikers" nillable="true" type="q46:ArrayOfguid" />
        <xs:element minOccurs="0" name="Datum" type="xs:dateTime" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Tijd" type="q47:duration" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Duur" type="q48:duration" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="Soort" type="q49:ReserveringSoort" />
        <xs:element minOccurs="0" name="final" type="xs:boolean" />
        <xs:element minOccurs="0" name="push" type="xs:boolean" />
        <xs:element minOccurs="0" name="Beschrijving" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReserveringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="SetReserveringResult" nillable="true" type="q50:ClubCloud_Reservering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReservering">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondsnummer" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="verenigingId" type="q51:guid" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="reservering" nillable="true" type="q52:ClubCloud_Reservering" />
        <xs:element minOccurs="0" name="final" type="xs:boolean" />
        <xs:element minOccurs="0" name="push" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReserveringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" minOccurs="0" name="UpdateReserveringResult" nillable="true" type="q53:ClubCloud_Reservering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>