ClubCloud.Afhangen/ClubCloud.Afhangen/ClubCloud.Afhangen.UILogic/Service References/ClubCloudService/mex3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClubCloud.Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://mijn.clubcloud.nl/_vti_bin/ClubCloud.Afhangen/Afhangen.svc/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Entity.Spatial" />
  <xs:complexType name="ClubCloud_Baanschema">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaanId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Beschikbaar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Baan" nillable="true" type="tns:ClubCloud_Baan" />
      <xs:element minOccurs="0" name="Dag" type="tns:Days" />
      <xs:element minOccurs="0" name="DagBegin" type="ser:duration" />
      <xs:element minOccurs="0" name="DagEinde" type="ser:duration" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MaandBegin" type="tns:Month" />
      <xs:element minOccurs="0" name="MaandEinde" type="tns:Month" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Baanschema" nillable="true" type="tns:ClubCloud_Baanschema" />
  <xs:complexType name="ClubCloud_Baan">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccomodatieId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Baansoort" type="tns:BaanSoort" />
      <xs:element minOccurs="0" name="BaansoortId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ClubCLoud_Baanschema" nillable="true" type="tns:ArrayOfClubCloud_Baanschema" />
      <xs:element minOccurs="0" name="ClubCloud_Accomodatie" nillable="true" type="tns:ClubCloud_Accomodatie" />
      <xs:element minOccurs="0" name="ClubCloud_Baansoort" nillable="true" type="tns:ClubCloud_Baansoort" />
      <xs:element minOccurs="0" name="ClubCloud_Reservering" nillable="true" type="tns:ArrayOfClubCloud_Reservering" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nummer" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Baan" nillable="true" type="tns:ClubCloud_Baan" />
  <xs:simpleType name="BaanSoort">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Buiten" />
          <xs:enumeration value="Binnen" />
          <xs:enumeration value="Blaashal">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="BaanSoort" nillable="true" type="tns:BaanSoort" />
  <xs:complexType name="ArrayOfClubCloud_Baanschema">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Baanschema" nillable="true" type="tns:ClubCloud_Baanschema" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Baanschema" nillable="true" type="tns:ArrayOfClubCloud_Baanschema" />
  <xs:complexType name="ClubCloud_Accomodatie">
    <xs:sequence>
      <xs:element minOccurs="0" name="AantalParkeerplaatsen" type="xs:int" />
      <xs:element minOccurs="0" name="AantalParkeerplaatsenMindervalide" type="xs:int" />
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BanenAantal" type="xs:int" />
      <xs:element minOccurs="0" name="BanenAantalBinnen" type="xs:int" />
      <xs:element minOccurs="0" name="BanenAantalBuiten" type="xs:int" />
      <xs:element minOccurs="0" name="Blaashal" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="BlaashalAantalBanen" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BlaashalSoort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Baan" nillable="true" type="tns:ArrayOfClubCloud_Baan" />
      <xs:element minOccurs="0" name="ClubCloud_District" nillable="true" type="tns:ClubCloud_District" />
      <xs:element minOccurs="0" name="ClubCloud_Regio" nillable="true" type="tns:ClubCloud_Regio" />
      <xs:element minOccurs="0" name="ClubCloud_Vereniging" nillable="true" type="tns:ArrayOfClubCloud_Vereniging" />
      <xs:element minOccurs="0" name="ClubhuisBeveiliging" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubhuisBouwaard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubhuisBouwjaar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubhuisLigging" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubhuisOppervlakte" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClubhuisStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gewijzigd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HalBouwaard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HalBouwjaar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HalOppervlakte" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MetOVBereikbaar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Minibanen" type="xs:boolean" />
      <xs:element minOccurs="0" name="MinibanenAantal" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oefenmuren" type="xs:boolean" />
      <xs:element minOccurs="0" name="OefenmurenAantal" type="xs:int" />
      <xs:element minOccurs="0" name="Overkapping" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OverkappingSoort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Playgrounds" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlaygroundsAantal" type="xs:int" />
      <xs:element minOccurs="0" name="RegioId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="RolStoeltoegankelijk" type="xs:boolean" />
      <xs:element minOccurs="0" name="Speeltoestellen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefoon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotaalAantalWasKleedruimte" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ValideParkeerplaatsen" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WasruimteClubhuisAanwezig" type="xs:boolean" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Accomodatie" nillable="true" type="tns:ClubCloud_Accomodatie" />
  <xs:complexType name="ArrayOfClubCloud_Baan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Baan" nillable="true" type="tns:ClubCloud_Baan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Baan" nillable="true" type="tns:ArrayOfClubCloud_Baan" />
  <xs:complexType name="ClubCloud_District">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Accomodatie" nillable="true" type="tns:ArrayOfClubCloud_Accomodatie" />
      <xs:element minOccurs="0" name="ClubCloud_Functionaris" nillable="true" type="tns:ArrayOfClubCloud_Functionaris" />
      <xs:element minOccurs="0" name="ClubCloud_Regio" nillable="true" type="tns:ClubCloud_Regio" />
      <xs:element minOccurs="0" name="ClubCloud_Vereniging" nillable="true" type="tns:ArrayOfClubCloud_Vereniging" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegioId" nillable="true" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_District" nillable="true" type="tns:ClubCloud_District" />
  <xs:complexType name="ArrayOfClubCloud_Accomodatie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Accomodatie" nillable="true" type="tns:ClubCloud_Accomodatie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Accomodatie" nillable="true" type="tns:ArrayOfClubCloud_Accomodatie" />
  <xs:complexType name="ArrayOfClubCloud_Functionaris">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Functionaris" nillable="true" type="tns:ClubCloud_Functionaris" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Functionaris" nillable="true" type="tns:ArrayOfClubCloud_Functionaris" />
  <xs:complexType name="ClubCloud_Functionaris">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Autorisatie" type="xs:boolean" />
      <xs:element minOccurs="0" name="BestuursorgaanId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ClubCloud_Bestuursorgaan" nillable="true" type="tns:ClubCloud_Bestuursorgaan" />
      <xs:element minOccurs="0" name="ClubCloud_District" nillable="true" type="tns:ClubCloud_District" />
      <xs:element minOccurs="0" name="ClubCloud_Functie" nillable="true" type="tns:ClubCloud_Functie" />
      <xs:element minOccurs="0" name="ClubCloud_Gebruiker" nillable="true" type="tns:ClubCloud_Gebruiker" />
      <xs:element minOccurs="0" name="ClubCloud_Vereniging" nillable="true" type="tns:ClubCloud_Vereniging" />
      <xs:element minOccurs="0" name="DistrictId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="FunctieId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="GebruikerId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Gewijzigd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="TermijnBegin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TermijnEinde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VerenigingId" nillable="true" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Functionaris" nillable="true" type="tns:ClubCloud_Functionaris" />
  <xs:complexType name="ClubCloud_Bestuursorgaan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Functionaris" nillable="true" type="tns:ArrayOfClubCloud_Functionaris" />
      <xs:element minOccurs="0" name="ClubCloud_Vereniging" nillable="true" type="tns:ClubCloud_Vereniging" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="ser:guid" />
      <xs:element minOccurs="0" name="VerenigingId" nillable="true" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Bestuursorgaan" nillable="true" type="tns:ClubCloud_Bestuursorgaan" />
  <xs:complexType name="ClubCloud_Vereniging">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccomodatieId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankIban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankPlaats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Accomodatie" nillable="true" type="tns:ClubCloud_Accomodatie" />
      <xs:element minOccurs="0" name="ClubCloud_Address" nillable="true" type="tns:ArrayOfClubCloud_Address" />
      <xs:element minOccurs="0" name="ClubCloud_Afhangen" nillable="true" type="tns:ArrayOfClubCloud_Afhang" />
      <xs:element minOccurs="0" name="ClubCloud_Bestuursorgaan" nillable="true" type="tns:ArrayOfClubCloud_Bestuursorgaan" />
      <xs:element minOccurs="0" name="ClubCloud_District" nillable="true" type="tns:ClubCloud_District" />
      <xs:element minOccurs="0" name="ClubCloud_Functionaris" nillable="true" type="tns:ArrayOfClubCloud_Functionaris" />
      <xs:element minOccurs="0" name="ClubCloud_Gebruiker" nillable="true" type="tns:ArrayOfClubCloud_Gebruiker" />
      <xs:element minOccurs="0" name="ClubCloud_Lidmaatschap" nillable="true" type="tns:ArrayOfClubCloud_Lidmaatschap" />
      <xs:element minOccurs="0" name="ClubCloud_Rechtsvorm" nillable="true" type="tns:ClubCloud_Rechtsvorm" />
      <xs:element minOccurs="0" name="ClubCloud_Regio" nillable="true" type="tns:ClubCloud_Regio" />
      <xs:element minOccurs="0" name="DistrictId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="EmailKNLTB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailOverig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailWebSite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Erkenning" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FTPsite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gestopt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gewijzigd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="KvKnummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KvKplaats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maanden" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oprichting" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RechtsvormId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="RegioId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="TelefoonAvond" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoonOverdag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoonOverig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Vereniging" nillable="true" type="tns:ClubCloud_Vereniging" />
  <xs:complexType name="ArrayOfClubCloud_Address">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Address" nillable="true" type="tns:ClubCloud_Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Address" nillable="true" type="tns:ArrayOfClubCloud_Address" />
  <xs:complexType name="ClubCloud_Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressGeheim" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClubCloud_Gebruiker" nillable="true" type="tns:ClubCloud_Gebruiker" />
      <xs:element minOccurs="0" name="ClubCloud_Vereniging" nillable="true" type="tns:ClubCloud_Vereniging" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gemeente" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Entity.Spatial" minOccurs="0" name="GeoLocation" nillable="true" type="q1:DbGeography" />
      <xs:element minOccurs="0" name="Gewijzigd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Land" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Postbus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Straat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoonPrimair" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoonSecundair" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoonTertiair" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Toevoeging" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Address" nillable="true" type="tns:ClubCloud_Address" />
  <xs:complexType name="ClubCloud_Gebruiker">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aanhef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AanhefAttentie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AanhefBrief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Achternaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Achtervoegsel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressGeheim" type="xs:boolean" />
      <xs:element minOccurs="0" name="BankIban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankPlaats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beroep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bondsnummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Address" nillable="true" type="tns:ArrayOfClubCloud_Address" />
      <xs:element minOccurs="0" name="ClubCloud_Functionaris" nillable="true" type="tns:ArrayOfClubCloud_Functionaris" />
      <xs:element minOccurs="0" name="ClubCloud_Lidmaatschap" nillable="true" type="tns:ArrayOfClubCloud_Lidmaatschap" />
      <xs:element minOccurs="0" name="ClubCloud_Profiel" nillable="true" type="tns:ArrayOfClubCloud_Profiel" />
      <xs:element minOccurs="0" name="ClubCloud_Reservering_Drie" nillable="true" type="tns:ArrayOfClubCloud_Reservering" />
      <xs:element minOccurs="0" name="ClubCloud_Reservering_Een" nillable="true" type="tns:ArrayOfClubCloud_Reservering" />
      <xs:element minOccurs="0" name="ClubCloud_Reservering_Twee" nillable="true" type="tns:ArrayOfClubCloud_Reservering" />
      <xs:element minOccurs="0" name="ClubCloud_Reservering_Vier" nillable="true" type="tns:ArrayOfClubCloud_Reservering" />
      <xs:element minOccurs="0" name="ClubCloud_Vereniging" nillable="true" type="tns:ClubCloud_Vereniging" />
      <xs:element minOccurs="0" name="EmailGeheim" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmailKNLTB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailOverig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailWebSite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTPsite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FotoId" type="xs:int" />
      <xs:element minOccurs="0" name="Geboortedatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Geboorteplaats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Geslacht" type="tns:GeslachtSoort" />
      <xs:element minOccurs="0" name="Gewijzigd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Kinderen" type="xs:boolean" />
      <xs:element minOccurs="0" name="KinderenAantal" type="xs:int" />
      <xs:element minOccurs="0" name="Mobiel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationaliteitId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="OverlijdensDatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roepnaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoonAvond" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoonGeheim" type="xs:boolean" />
      <xs:element minOccurs="0" name="TelefoonOverdag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoonOverig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tussenvoegsel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerenigingId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Volledigenaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Voorletters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Voornaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Voornamen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Gebruiker" nillable="true" type="tns:ClubCloud_Gebruiker" />
  <xs:complexType name="ArrayOfClubCloud_Lidmaatschap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Lidmaatschap" nillable="true" type="tns:ClubCloud_Lidmaatschap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Lidmaatschap" nillable="true" type="tns:ArrayOfClubCloud_Lidmaatschap" />
  <xs:complexType name="ClubCloud_Lidmaatschap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Autorisatie" type="xs:boolean" />
      <xs:element minOccurs="0" name="Begin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClubCLoud_LidmaatschapSoort" nillable="true" type="tns:ClubCloud_LidmaatschapSoort" />
      <xs:element minOccurs="0" name="ClubCloud_Gebruiker" nillable="true" type="tns:ClubCloud_Gebruiker" />
      <xs:element minOccurs="0" name="ClubCloud_Vereniging" nillable="true" type="tns:ClubCloud_Vereniging" />
      <xs:element minOccurs="0" name="Einde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GebruikerId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Gewijzigd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="InternNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opzegging" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasDatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasNieuw" type="xs:boolean" />
      <xs:element minOccurs="0" name="PasNood" type="xs:boolean" />
      <xs:element minOccurs="0" name="PasNoodDatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasTypeId" type="ser:guid" />
      <xs:element minOccurs="0" name="PasTypeNaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasVolgnummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasWedstrijd" type="xs:boolean" />
      <xs:element minOccurs="0" name="SoortId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="SpeelsterkteDubbel" type="xs:int" />
      <xs:element minOccurs="0" name="SpeelsterkteEnkel" type="xs:int" />
      <xs:element minOccurs="0" name="VerenigingId" nillable="true" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Lidmaatschap" nillable="true" type="tns:ClubCloud_Lidmaatschap" />
  <xs:complexType name="ClubCloud_LidmaatschapSoort">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Lidmaatschap" nillable="true" type="tns:ArrayOfClubCloud_Lidmaatschap" />
      <xs:element minOccurs="0" name="DagBegin" type="ser:duration" />
      <xs:element minOccurs="0" name="DagEinde" type="ser:duration" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tarief" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_LidmaatschapSoort" nillable="true" type="tns:ClubCloud_LidmaatschapSoort" />
  <xs:complexType name="ClubCloud_Profiel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bondsnummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Gebruiker" nillable="true" type="tns:ClubCloud_Gebruiker" />
      <xs:element minOccurs="0" name="Datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dubbel_Rating_Actueel" type="xs:decimal" />
      <xs:element minOccurs="0" name="Dubbel_Rating_Eindejaar" type="xs:decimal" />
      <xs:element minOccurs="0" name="Dubbel_Speelsterkte" type="xs:int" />
      <xs:element minOccurs="0" name="Dubbel_Speelsterkte_Vorig" type="xs:int" />
      <xs:element minOccurs="0" name="Dubbel_aantal" type="xs:int" />
      <xs:element minOccurs="0" name="Enkel_Aantal" type="xs:int" />
      <xs:element minOccurs="0" name="Enkel_Rating_Actueel" type="xs:decimal" />
      <xs:element minOccurs="0" name="Enkel_Rating_Eindejaar" type="xs:decimal" />
      <xs:element minOccurs="0" name="Enkel_Speelsterkte" type="xs:int" />
      <xs:element minOccurs="0" name="Enkel_Speelsterkte_Vorig" type="xs:int" />
      <xs:element minOccurs="0" name="GebruikerId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Gewijzigd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Profiel" nillable="true" type="tns:ClubCloud_Profiel" />
  <xs:complexType name="ClubCloud_Afhang">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaanBegin" type="ser:duration" />
      <xs:element minOccurs="0" name="BaanEinde" type="ser:duration" />
      <xs:element minOccurs="0" name="ClubCloud_Vereniging" nillable="true" type="tns:ClubCloud_Vereniging" />
      <xs:element minOccurs="0" name="Duur_Drie" type="xs:int" />
      <xs:element minOccurs="0" name="Duur_Een" type="xs:int" />
      <xs:element minOccurs="0" name="Duur_Precisie" type="xs:int" />
      <xs:element minOccurs="0" name="Duur_Twee" type="xs:int" />
      <xs:element minOccurs="0" name="Duur_Vier" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MaandBegin" type="tns:Month" />
      <xs:element minOccurs="0" name="MaandEinde" type="tns:Month" />
      <xs:element minOccurs="0" name="VerenigingId" nillable="true" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Afhang" nillable="true" type="tns:ClubCloud_Afhang" />
  <xs:simpleType name="Month">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="januari" />
          <xs:enumeration value="februari" />
          <xs:enumeration value="maart">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="april">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="mei">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="juni">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="juli">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="augustus">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="september">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="oktober">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="november">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="december">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="Month" nillable="true" type="tns:Month" />
  <xs:complexType name="ClubCloud_Functie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Functionaris" nillable="true" type="tns:ArrayOfClubCloud_Functionaris" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Meervoud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Toegang" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Functie" nillable="true" type="tns:ClubCloud_Functie" />
  <xs:complexType name="ClubCloud_Reservering">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaanId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Beschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Baan" nillable="true" type="tns:ClubCloud_Baan" />
      <xs:element minOccurs="0" name="ClubCloud_Gebruiker_Drie" nillable="true" type="tns:ClubCloud_Gebruiker" />
      <xs:element minOccurs="0" name="ClubCloud_Gebruiker_Een" nillable="true" type="tns:ClubCloud_Gebruiker" />
      <xs:element minOccurs="0" name="ClubCloud_Gebruiker_Twee" nillable="true" type="tns:ClubCloud_Gebruiker" />
      <xs:element minOccurs="0" name="ClubCloud_Gebruiker_Vier" nillable="true" type="tns:ClubCloud_Gebruiker" />
      <xs:element minOccurs="0" name="Datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Duur" type="ser:duration" />
      <xs:element minOccurs="0" name="Final" type="xs:boolean" />
      <xs:element minOccurs="0" name="Gebruiker_Drie" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Gebruiker_Een" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Gebruiker_Twee" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Gebruiker_Vier" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Soort" type="tns:ReserveringSoort" />
      <xs:element minOccurs="0" name="Tijd" type="ser:duration" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Reservering" nillable="true" type="tns:ClubCloud_Reservering" />
  <xs:simpleType name="ReserveringSoort">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Afhangen">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Les" />
          <xs:enumeration value="Competitie">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Toernooi">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Evenement">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Onderhoud">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Seizoen">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Mobiel">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Overig">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ReserveringSoort" nillable="true" type="tns:ReserveringSoort" />
  <xs:complexType name="ClubCloud_Regio">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClubCloud_Accomodatie" nillable="true" type="tns:ArrayOfClubCloud_Accomodatie" />
      <xs:element minOccurs="0" name="ClubCloud_District" nillable="true" type="tns:ArrayOfClubCloud_District" />
      <xs:element minOccurs="0" name="ClubCloud_Vereniging" nillable="true" type="tns:ArrayOfClubCloud_Vereniging" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Regio" nillable="true" type="tns:ClubCloud_Regio" />
  <xs:complexType name="ArrayOfClubCloud_District">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_District" nillable="true" type="tns:ClubCloud_District" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_District" nillable="true" type="tns:ArrayOfClubCloud_District" />
  <xs:complexType name="ArrayOfClubCloud_Vereniging">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Vereniging" nillable="true" type="tns:ClubCloud_Vereniging" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Vereniging" nillable="true" type="tns:ArrayOfClubCloud_Vereniging" />
  <xs:complexType name="ClubCloud_Baansoort">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BaantypeId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Beschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Baan" nillable="true" type="tns:ArrayOfClubCloud_Baan" />
      <xs:element minOccurs="0" name="ClubCloud_Baantype" nillable="true" type="tns:ClubCloud_Baantype" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Meervoud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Baansoort" nillable="true" type="tns:ClubCloud_Baansoort" />
  <xs:complexType name="ClubCloud_Baantype">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Baansoort" nillable="true" type="tns:ArrayOfClubCloud_Baansoort" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Meervoud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Baantype" nillable="true" type="tns:ClubCloud_Baantype" />
  <xs:complexType name="ArrayOfClubCloud_Baansoort">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Baansoort" nillable="true" type="tns:ClubCloud_Baansoort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Baansoort" nillable="true" type="tns:ArrayOfClubCloud_Baansoort" />
  <xs:complexType name="ClubCloud_Rechtsvorm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClubCloud_Vereniging" nillable="true" type="tns:ArrayOfClubCloud_Vereniging" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Meervoud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Rechtsvorm" nillable="true" type="tns:ClubCloud_Rechtsvorm" />
  <xs:complexType name="ArrayOfClubCloud_Profiel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Profiel" nillable="true" type="tns:ClubCloud_Profiel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Profiel" nillable="true" type="tns:ArrayOfClubCloud_Profiel" />
  <xs:complexType name="ArrayOfClubCloud_Reservering">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Reservering" nillable="true" type="tns:ClubCloud_Reservering" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Reservering" nillable="true" type="tns:ArrayOfClubCloud_Reservering" />
  <xs:simpleType name="GeslachtSoort">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Onbekend">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Man">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Vrouw">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="GeslachtSoort" nillable="true" type="tns:GeslachtSoort" />
  <xs:complexType name="ArrayOfClubCloud_Afhang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Afhang" nillable="true" type="tns:ClubCloud_Afhang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Afhang" nillable="true" type="tns:ArrayOfClubCloud_Afhang" />
  <xs:complexType name="ArrayOfClubCloud_Bestuursorgaan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Bestuursorgaan" nillable="true" type="tns:ClubCloud_Bestuursorgaan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Bestuursorgaan" nillable="true" type="tns:ArrayOfClubCloud_Bestuursorgaan" />
  <xs:complexType name="ArrayOfClubCloud_Gebruiker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClubCloud_Gebruiker" nillable="true" type="tns:ClubCloud_Gebruiker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClubCloud_Gebruiker" nillable="true" type="tns:ArrayOfClubCloud_Gebruiker" />
  <xs:simpleType name="Days">
    <xs:restriction base="xs:string">
      <xs:enumeration value="maandag">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dinsdag">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="woensdag">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="donderdag">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vrijdag">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="zaterdag">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="zondag">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Days" nillable="true" type="tns:Days" />
  <xs:complexType name="ClubCloud_Foto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ContentLength" type="xs:double" />
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FotoId" type="xs:int" />
      <xs:element minOccurs="0" name="Gewijzigd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ClubCloud_Foto" nillable="true" type="tns:ClubCloud_Foto" />
</xs:schema>